<!DOCTYPE html>

<html>

    <head>
        {%load static%}
    </head>

    <nav>
        <div class="navbar">
            <a href="/#start">
                <i class="fab fa-python"></i>
                <!-- <img class="logo" src="{% static 'images/google.png' %}" alt="Logo"> -->
            </a>
            <div class="btn">
                <a href='/'>Home</a>‎
                <a href="/#proj">Projects</a>
                <a href="/#lang">Languages</a>
                <a href="#">Education</a>
                <a href="#">About</a>
            </div>
        </div>
    </nav>
</html>